<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo1.jpg">
    <title>Bienvenido</title>
</head>
<body>

    <div id="sidebar">
        <h1>Bienvenido</h1>
        <h2>Samuel</h2>
        <ul>
            <li>
                <button id="dashboard-button">
                    <a href="">
                        <img src="/img/iconocasa.png" alt="restaurante">Inicio
                    </a>
                </button>
                <button id="menu-button">
                    <a href="">
                        <img src="" alt="creacion">Creacion Publicacion
                    </a>
                </button>
                <button id="carrito-button">
                    <a href="">
                        <img src="" alt="carrito">Amistades
                    </a>
                </button>
                <button id="metodos-button">
                    <a href="">
                        <img src="" alt="metodos">Perfil
                    </a>
                </button>
            </li>
        </ul>
        <img src="/img/logo4.jpg" id="logoizquierdo">
    </div>

    <div id="main-content">

        <h1>Inicio</h1>

        <div id="user-info">
            <img src="/img/usuarioicono.png">
            <h2>David</h2>
            <p>Reels</p>
        </div>
        
    </div>

    <div id="franja">
        <div id="welcome-message">
            <h1>Bienvenido,</h1>
            <h2>David</h2>
            <p>Historias</p>
        </div>
        <div id="info-buttons">
            <div id="pedidos-dia">
                <button><a href="/formulario"><img src="" alt="icon">Abrill
                <br>55</a></button>
            </div>
            <div id="pedidos-anulados">
                <button><a href="/formulario"><img src="" alt="icon">Mishell<br>55</a></button>
            </div>
            <div id="pedidos-entregados">
                <button><a href="/formulario"><img src="" alt="icon">Alison<br>55</a></button>
            </div>
            <div id="pedidos-pendientes">
                <button><a href="/formulario"><img src="" alt="icon">Pablo<br>55</a></button>
            </div>
        </div>
    </div>

    <div id="actividad">
        <h1>Publicacion</h1>
        <div id="actividad-card">
        </div>
    </div>


</body>
</html>