@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url('../img/panfondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0; /* Agregado para evitar el margen predeterminado del body */
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

#digital-waiter {
    margin-top: 3px;
    padding-left: 20px;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding-right: 80px;
}

nav ul li a {
    color: #F5F5DC;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a:hover,
nav ul li a:active {
    color: #facea3;
    text-decoration: none;
}

nav #menu-btn i {
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

#click {
    display: none;
}

h1 {
    color: #F5F5DC;
    font-size: 88px;
    font-family: 'Montserrat', sans-serif;
    align-items: left;
    padding: 80px 20px;
}

button {
    margin-top: -30px;
    margin-left: 20px;
    font-size: 24px;
    padding: 15px 30px; /* Ajustado el relleno para mejorar en pantallas más pequeñas */
    width: auto;
    border: 3px solid #F5F5DC;
    background-color: transparent;
    border-width: 7px;
    cursor: pointer;
}

button a {
    color: #F5F5DC;
    font-weight: bold;
}

button:hover {
    background-color: #3b3b3b;
}

@media (max-width: 940px) {
    body img{
        width: 400px;
    }

    nav #menu-btn i {
        display: block;
    }

    #click:checked ~ #menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #2a3e66;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 20px;
        transition: all 0.3s ease;
    }

    nav ul li {
        margin: 10px 0;
        padding-right: 0;
    }

    nav ul li a {
        font-size: 16px;
        display: block;
        padding: 10px 0;
        color: #F5F5DC;
        transition: all 0.3s ease;
    }

    nav ul li a:hover,
    nav ul li a:active {
        color: #facea3;
        text-decoration: none;
    }

    #click:checked ~ ul {
        left: 0%;
    }

    h1 {
        font-size: 60px;
        padding: 80px 20px 40px;
    }

    #digital-waiter img {
        height: 70px;
        margin-bottom: 20px;
    }

    button {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 24px;
        padding: 15px 30px;
        width: auto;
        border: 3px solid #F5F5DC;
        background-color: transparent;
        border-width: 7px;
        cursor: pointer;
    }
}   

