@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}
body::after {
    content: "";
    background: url(../img/fondo.png);
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}
#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #F3DBC3;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 10px 0px 15px -1px rgba(0, 0, 0, 0.6);
}
#sidebar h1 {
    font-size: 39px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    font-weight: 900;
}
#sidebar h2 {
    margin-bottom: 60px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 450;
    line-height: 0;
}
#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#sidebar ul li {
    padding: 10px 0;
    border-bottom: 1px solid #333333;
    color: #333333;
    text-align: center;
    cursor: pointer;
}
#sidebar ul li:last-child {
    border-bottom: none;
}
#sidebar-button {
    background-color: #FFFBF0;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 15px 50px;
    border-radius: 0 10px 10px 0;
    color: #333333;
}
#sidebar-button img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: -20px;
}
#main-content {
    margin-left: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#main-content h1 {
    text-align: left;
    margin-top: 40px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
#menu-button {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    float: left; /* Cambia 'center' por 'left' */
    border-radius: 0 10px 10px 0;
    color: #333333;
    width: 250px;
    height: 60px;
    white-space: nowrap;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 29px;
    border-bottom: 1px solid #333333;
}
#dashboard-button,
#carrito-button,
#metodos-button,
#visualizar-button {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    float: left;
    border-radius: 0 10px 10px 0;
    color: #333333;
    width: 250px;
    height: 60px;
    white-space: nowrap;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 29px;
    background-color: transparent;
    border: none;
}
#dashboard-button img,
#menu-button img,
#carrito-button img,
#metodos-button img,
#visualizar-button img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: -20px;
}
#dashboard-button a,
#menu-button a,
#carrito-button a,
#metodos-button a,
#visualizar-button a{
    text-decoration: none;
    color: #333333;
}
#logoizquierdo{
    width: 250px;
    height: 60px;
    margin-top: 100px;
}
#lineahorizontal{
    background-color: #000000;
    border-top: 2px solid black;
    margin: 20px 0 0 -20px;
    width: 1181px;
    float: center;
}
#user-info {
    align-items: right;
    text-align: left;
}
#user-info h2 {
    font-size: 20px;
    text-align: left;
    margin-left: 850px;
    margin-top: -50px;
    font-family: 'Montserrat', sans-serif;
}
#user-info p {
    font-size: 15px;
    text-align: left;
    margin-left: 850px;
    font-family: 'Montserrat', sans-serif;
}
#user-info img {
    width: 50px;
    height: 50px;
    margin-left: 785px;
    margin-top: -150px;
}
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
}
/*aqui empiezan las cards*/
#card1 {
    background-image: url(../img/entradasfondo.jpeg), linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-blend-mode: darken;
    background-size: cover; /* Para que la imagen cubra todo el div */
    background-position: center; /* Para centrar la imagen */
    background-repeat: no-repeat; 
    margin-top: 60px;
    margin-right: 20px;
    width: 250px;
    height: 570px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}
#card2 {
    background-image: url(../img/sopasfondo.jpeg), linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-blend-mode: darken;
    background-size: cover; /* Para que la imagen cubra todo el div */
    background-position: center; /* Para centrar la imagen */
    background-repeat: no-repeat; 
    margin-top: 170px;
    margin-right: 20px;
    width: 250px;
    height: 550px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}

#card3 {
    background-image: url(../img/postresfondo.jpeg), linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-blend-mode: darken;
    background-size: cover; /* Para que la imagen cubra todo el div */
    background-position: center; /* Para centrar la imagen */
    background-repeat: no-repeat; 
    margin-top: 60px;
    margin-right: 20px;
    width: 250px;
    height: 570px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}

#card4 {
    background-image: url(../img/bebidafondo.PNG), linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-blend-mode: darken;
    background-size: cover; /* Para que la imagen cubra todo el div */
    background-position: center; /* Para centrar la imagen */
    background-repeat: no-repeat; 
    margin-top: 170px;
    width: 250px;
    height: 550px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}
#card1 button,
#card2 button,
#card3 button,
#card4 button{
    background-color: rgba(0, 148, 255, 0.5);
    border: none;
    margin-top: 300px;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}
#card1 h1,
#card2 h1,
#card3 h1,
#card4 h1{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
    margin-top: 90px;
}
#card1 a,
#card2 a,
#card3 a,
#card4 a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
}

