@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}
body::after {
    content: "";
    background: url(../img/fondo.png);
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}
#sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #F3DBC3;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    box-shadow: 10px 0px 15px -1px rgba(0, 0, 0, 0.6);
}
#sidebar h1 {
    font-size: 39px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    font-weight: 900;
}
#sidebar h2 {
    margin-bottom: 60px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 450;
    line-height: 0;
}
#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#sidebar ul li {
    padding: 10px 0;
    border-bottom: 1px solid #333333;
    color: #333333;
    text-align: center;
    cursor: pointer;
}
#sidebar ul li:last-child {
    border-bottom: none;
}
#sidebar-button {
    background-color: #FFFBF0;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 15px 50px;
    border-radius: 0 10px 10px 0;
    color: #333333;
}
#sidebar-button img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: -20px;
}
#main-content {
    margin-left: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#main-content h1 {
    text-align: left;
    margin-top: 100px;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 3px solid #000000;
    font-size: 20px;
}
#user-info {
    align-items: right;
    text-align: left;
}
#user-info h2 {
    font-size: 20px;
    text-align: left;
    margin-left: 850px;
    margin-top: -100px;
    font-family: 'Montserrat', sans-serif;
}
#user-info p {
    font-size: 15px;
    text-align: left;
    margin-left: 850px;
    font-family: 'Montserrat', sans-serif;
}
#user-info img {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 785px;
    margin-top: -100px;
}
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 30px;
}
#card1 {
    background-color: #FFFFFF;
    padding: 60px 0;
    margin: 0 22px;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    text-align: center;
    border-color: #000000;
    border: 3px solid #000000;
}
#card1 img{
    text-align: center;
    width: 275px;
}
#card1 button{
    border: none;
    margin-top: 80px;
}
#edit-btn a{
    text-decoration: none;
    background-color: #0094FF;
    color: #FFFFFF;
    padding: 10px 40px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}
#manage-btn a{
    text-decoration: none;
    background-color: #FF9696;
    color: #000000;
    padding: 10px 30px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

#card2 {
    background-color: #D8D8D8;
    padding: 60px 0;
    margin: 0px;
    width: 200px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
}
#card2 h3{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}
#card2 button{
    margin-top: 50px;
    
}
